* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* ==== Colors ==== */
:root {
  /* --body-color: #e4e9f7; */
  --body-color: #b8b9bd88;
  --datetime-color: #31333a88;
  --text-title-color: #151518f6;
  --body-text-color: #151518f6;
  --text-opacity-color: rgb(88, 85, 85);
  --nav-color: #214772;
  --side-nav: #010718;
 
  --text-color: #fff;
  --search-bar: #f2f2f2;
  --search-text: #010718;
  --active-color: rgba(219, 13, 126, 0.555);
}
/* Scrollbar Page */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f50057;
}
::-webkit-scrollbar-track-piece  {
  background-color: #0c2e50;
}
::-webkit-scrollbar-thumb {
  height: 30px;
  background-color: #f50057;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
body {
  transition: all 0.5s ease;
  height: 100vh;
  background-color: var(--body-color);
}
body.dark {
  transition: all 0.5s ease;
  --body-color: #18191a;
  --datetime-color: #b8b9bd88;
  --nav-color: #242526;
  --side-nav: #242526;
  --text-title-color: #fff;
  --text-opacity-color:rgb(90, 85, 85);
  --body-text-color: rgb(187, 189, 199);
  --text-color: #ccc;
  --search-bar: #242526;
  --text-custom: #000;
  --active-color: rgba(219, 13, 126, 0.555);
}
body.dark {
  color: var(--text-color);
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: var(--nav-color);
  z-index: 100;
}
nav .nav-bar {
  position: relative;
  height: 100%;
  max-width: 100%;
  width: 100%;
  background-color: var(--nav-color);
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-bar .sidebarOpen {
  color: var(--text-color);
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}
.nav-bar .logo a {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
  /* border: 1px solid red; */
  padding: 10px;
}
.menu .logo-toggle {
  display: none;
}
.nav-bar .nav-links {
  display: flex;
  align-items: center;
}
.nav-bar .nav-links li {
  margin: 0 5px;
  list-style: none;
}
.nav-links li a {
  position: relative;
  font-size: 17px;
  font-weight: 400;
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
}
.nav-links li .active {
  /* background-color: var(--active-color); */
  border-bottom: 2px solid var(--active-color);
  /* border-radius: 4px; */
  font-weight: bold;
  /* height: 1px; */
  /* padding: 7px; */
}
.nav-links li a::before {
  content: "";
  position: absolute;
  left: -50%;
  bottom: -4%;
  transform: translateX(50%);
  height: 2px;
  width: 100%;
  border-radius: 50%;
  background-color: var(--text-color);
  opacity: 0;
  transition: all 0.3s ease;
}
.nav-links li:hover a::before {
  opacity: 1;
}
.nav-bar .darkLight-searchBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-self: center;
  background-color: var(--nav-color);
  margin: 0 5px;
}
.dark-light i,
.searchBox i {
  position: absolute;
  color: var(--text-color);
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.dark-light.active i.moon {
  opacity: 1;
  pointer-events: auto;
}
.dark-light i.moon {
  opacity: 0;
  pointer-events: none;
}
.dark-light.active i.sun {
  opacity: 0;
  pointer-events: none;
}
.searchToggle i.cancel {
  opacity: 0;
  pointer-events: none;
}
.searchToggle.active i.cancel {
  opacity: 1;
  pointer-events: auto;
}
.searchToggle.active i.search {
  opacity: 0;
  pointer-events: none;
}
.searchBox {
  position: relative;
}
.searchBox .search-field {
  position: absolute;
  bottom: -85px;
  right: 5px;
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  background-color: var(--nav-color);
  padding: 3px;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.searchToggle.active ~ .search-field {
  bottom: -74px;
  opacity: 1;
  pointer-events: auto;
}
.search-field::before {
  content: "";
  position: absolute;
  right: 14px;
  top: -4px;
  height: 12px;
  width: 12px;
  background-color: var(--nav-color);
  transform: rotate(-45deg);
  z-index: -1;
}
.search-field input {
  height: 100%;
  width: 100%;
  padding: 0 45px 0 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: var(--search-text);
  background-color: var(--search-bar);
}
body.dark .search-field input {
  color: var(--text-color);
}
body.dark .search-results{
  color: var(--text-color);
}
.search-field i {
  position: absolute;
  color: var(--nav-color);
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}
body.dark .search-field i {
  color: var(--text-color);
}
.min-hero{
  display: none !important;
}
/* Media Query */
@media (max-width: 1039px) {
  nav .nav-bar .sidebarOpen {
    display: block;
  }
  nav .nav-bar{
    padding: 0 0 !important;
  }
  .menu {
    position: fixed;
    height: 100%;
    width: 320px;
    left: -100%;
    top: 0%;
    padding: 20px;
    background-color: var(--side-nav);
    z-index: 100;
    transition: all 0.4s ease;
  }
  nav.active .menu {
    left: -0%;
  }
  nav.active .nav-bar .navLogo a {
    opacity: 0;
    transition: all 0.3 ease;
  }
  .min-hero{
    display: block !important;
  }
  .max-hero{
    display: none !important;
  }
  .menu .logo-toggle {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo-toggle .sidebarClose {
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
  }
  .nav-bar .nav-links {
    flex-direction: column;
    padding-top: 20px;
  }
  .nav-links li a {
    display: block;
    margin-top: 20px;
  }
  .hero-content{
    padding-top: 0 !important;
  }
  main{
    padding: 0 5px !important;
    padding-top: 80px !important;
  }
  .content{
    max-width: 100% !important;
  }
}
/* Main */
main {
  position: relative;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  padding-top: 80px;
}
.hero-wrapper {
  position: relative;
  /* margin: 0 auto; */
  padding: 10px;

  height: 100%;
  max-width: 100%;
  width: 100%;
  --bs-gutter-x: 0 !important;
  /* display: flex; */
  /* gap: 15px; */
  /* align-items: center; */
  /* justify-content: space-between; */
  border: 1px solid var(--nav-color);
  gap: 0 !important;
}
.hero {
  /* width: 50%; */
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.hero-img {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 7px;
}
.hero-content {
  /* width: 40%; */
  align-items: center;
  padding-top: 40px;
  margin-right: auto;
}
.hero-info {
  text-align: center;
}
.hero-header {
  border-top: 1px solid var(--nav-color);
  border-left: 1px solid var(--nav-color);
  border-right: 1px solid var(--nav-color);
}
.readmore{
  padding-top: 25px;
}
.btn-readmore{
  background-color:var(--nav-color);
  padding: 8px 15px;
  color: var(--text-color);
  border-radius: 5px;
}
.btn-readmore:hover{
  background-color: var(--side-nav);
  transition: all 0.4s ease;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
position: relative;
width: 100%;
min-height: 1px;
/* padding-right: 15px; */
/* padding-left: 15px; */
}
.latest-border{
  border-left: 3px solid var(--nav-color);
  border-bottom: 3px solid var(--nav-color);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.latest-title{
  font-size: 25px;
  color: var(--text-title-color);
}
.statement{
  font-weight: bold;

}
.latest-dateandtime{
  color: var(--datetime-color);
}
.lt-body{
  padding-top: 15px;
}
.lt-body a{
  color: var(--body-text-color);
  line-height: 25px;
}
.lt-image{
  height: 250px;
  overflow: hidden;
}
.img{
  width: 100%;
}
.author{
  float: right;
  padding-top: 15px;
  font-weight: bold;
  font-style: italic;
}
.blog-title{
  color: var(--body-text-color);
}
.see-all{
  float: right;
  color: var(--body-text-color);
}
.text-center{
  text-align: center;
}
.cursor{
  cursor: pointer;
}
.relative::-webkit-scrollbar{
  display: none;
}
.speechrelative::-webkit-scrollbar{
  display: none;
}
.row-relative{
  width: 100%;
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
  gap: 10px;
}
.speech-relative{
  width: 100%;
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
  /* gap: 10px; */
}
.col-lg-3-custom{
  min-width: 350px ;
  transition: .3s linear;
}
.col-lg-1-custom{
  min-width: 100% ;
  transition: .3s linear;
}
#previous{
  padding: 10px;
  background-color: var(--nav-color);
  border-radius: 3px;
  color: var(--text-color);
}
#next{
  padding: 10px;
  background-color: var(--nav-color);
  border-radius: 3px;
  color: var(--text-color);
}
.footer{
  width: 100%;
  max-width: 100%;
  padding:  20px 30px;
  margin: auto;
  background-color: #242526;
}
.footer{
  color: var(--text-color);
}
.twitter{
  color: var(--text-color);
}
.he{
  width: 100px !important;
}
.text-related{
  color: var(--body-text-color);
}
.text-related-size{
  font-size: 14px;
  color: var(--text-opacity-color);
}
.text-color{
  color: var(--body-text-color);
}
.quote-text-size{
  font-size: 25px;
}


.gallery{
  width: 100%;
  display: block;
  min-height: 100vh;
  /* background-color: #2a2932; */
  padding: 20px 0;
}

.container{
   max-width: 100%;
   margin:auto;
}
.gallery .gallery-filter{
  padding: 0 15px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.gallery .gallery-filter .filter-item{
  color: var(--body-text-color);
  font-size: 14px;
  border: 2px solid var(--body-text-color);
  text-transform: uppercase;
  display: inline-block;
  border-radius: 20px;
  margin-right: 8px;
  cursor: pointer;
  padding: 3px 10px 3px 10px;
  line-height: 1.2;
  transition: all 0.3s ease;
}
.gallery .gallery-filter .filter-item.filter-active{
 color: white;
 border-color : #16b5ef;
 background: #16b5ef;
}
/* .gallery .item{
   width: calc(100% / 4);
   padding: 15px;

} */
.gallery .gallery-item-inner img{
   width: 100%;
 border: 3px solid var(--body-text-color);
}
.gallery .item.show{
   animation: fadeIn 0.5s ease;
}
@keyframes fadeIn{
   0%{
       opacity: 0;
   }
   100%{
       opacity: 1;
   }
}
.gallery .item.hide{
   display: none;
}
@media(max-width: 491px){
   .gallery .item{
       width: 50%;
   }
}
@media(max-width: 667px){
   .gallery .item{
       width: 100%;
   }
   .gallery .gallery-filter .filter-item{
       margin-bottom: 10px;
   }
}









/*===================================================
            GALLARY section started here
 ===================================================*/

 .image-section {
  border-bottom: solid 1px;
}
.gallery-image img{
  width: 100%;
  transition: .7s linear;
  cursor: pointer;
}
.gallery-image img:hover{
  transform: scale(1.5);

}
.gallery-image:hover {
  border: 1px solid red;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.gallery-image{
  overflow: hidden;
}

@media(max-width:768px){
  .container .popup-image img{
            width: 95%;
  }
}
/*===================================================
            GALLARY section end here 
 ===================================================*/
 .search-results-main{
  background-color: var(--nav-color);
  padding: 2px;
  border-radius: 6px;
  /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); */
  height: 40px;
 }
 .search-results{
  
  height: 100%;
  width: 100%;
  padding: 0 15px 0 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: var(--search-text);
  background-color: var(--search-bar);
 }
 .search-value{
  color: rgb(121, 19, 223);
 }
 .go-back{
  padding:0px 5px;cursor:pointer;background:none;color:#fff;border:none;
 }